html, body, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}

.color-white {
  color: white;
}

.pointer {
  cursor: pointer;
}

.max-width-1200, .card {
  width: 100vw;
  max-width: 1200px;
}

.ml-0 {
  margin-left: 0 !important;
}
